*{
    background-color: transparent;
}
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: sticky;
    padding: 0 70px;
    #nav_button, #nav_button2{
        display: none;
    }
    p{
        font-weight: lighter;
    }
    span{
        color: yellow;
    }

    .right{
        display: grid;
        grid-template-rows: (2, 1fr);
        font-size: 10px;
        .top{
            .auth{
                margin: 10px 0;
                text-align: right;
                #social{
                    color: gold;
                    height: 25px;
                    margin: 0 2.5px;
                    border-radius: 50%;
                    position: relative;
                    top: 8px;
                    padding: 0 5px;
                    transition: .2s ease-in;
                    &:hover{
                        background-color: gold;
                    }
                }
                p{
                    display: none;
                }
                #space{
                    display: inline;
                    margin: 0 2.5px;
                }
                #login{
                    background-color: gold;
                    border-radius: 20px 0 0 20px;
                    padding: 5px 10px;
                    border-right: solid rgb(216, 185, 12) 1px;
                }
                #signup{
                    background-color: gold;
                    border-radius: 0 20px 20px 0;
                    padding: 5px 10px;
                }
            }
        }

        .links{
            font-size: 14px;
            a{
                position: relative;
                padding: 5px;
                transition: .5s;
                background-color: transparent;
                z-index: 20;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    width: 95%;
                    height: 2px;
                    background-color: gold;
                    transform: scaleX(0);
                    transition: transform 0.2s ease-in-out;
                }
                &:hover::after {
                    transform: scaleX(1);
                    z-index:-5;
                }
            }
            .active{
                color: gold;
            }
        }
    }

    @media (max-width: 720px) {
        z-index: 100;
        position: relative;
        #nav_button, #nav_button2{
            display: block;
            position: absolute;
            top: 30px;
            cursor: pointer;
            right: 30px;
            width: 30px;
            height: 30px;
        }
        .right{
            display: flex;
            flex-direction: column;
            position: fixed;
            right: -380px;
            transition: .3s ease-in-out;
            top:0;
            width: 50vw;
            background-color: rgb(46, 46, 46);
            height: 100vh;
            box-shadow: -3px 0 5px black;
            #nav_button2{
                position: absolute;
                right:10px;
            }
            .top{
                font-weight: lighter;
                .auth{
                    padding: 0 20px;
                    position: absolute;
                    position: left;
                    display: grid;
                    grid-template-columns: 1fr;
                    width: max-content;
                    text-align: left;
                    grid-template-rows: repeat(3, 1fr);
                    #social{
                        display: inline;
                        margin: 10px 0;
                        padding: 0;
                        font-size: 20px;
                        top: 15px;
                        border-radius: 0;
                        &:hover{
                            background-color: transparent;
                        }
                    }
                    p{
                        display: inline;
                        font-size: 20px;
                        padding: 0 5px;
                        &:hover{
                            color: gold;
                        }
                    }
                    #login{
                        margin-top: 3px;
                        border: none;
                    }
                    #login, #signup{
                        background-color: transparent;
                        font-size: 20px;
                        padding: 7px 0;
                    }
                    a:hover{
                        color: gold;
                    }
                }
            }
            .links{
                display: flex;
                flex-direction: column;
                text-align: left;
                width: 100%;
                font-size: 20px;
                position: absolute;
                bottom: 0;
                margin-bottom: 20px;
                a{
                    font-weight: lighter;
                    padding: 7.5px 20px;
                    transition: 0s;
                    &:hover{
                        color: gold;
                    }
                    &:hover::after{
                        transform: scaleX(0);
                    }
                }
                .active{
                    color: black;
                    font-weight: 400;
                    background: gold;
                    &:hover{
                        color:black;
                    }
                }
            }
        }
        .showNav{
            right: 0;
        }
    }
}