*{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.light{
    --bg-color: #eee;
    --text-color: #000;
    --shadow-color: #333;
    background-color: var(--bg-color);
    --footer-bg: #fff;
}
.dark{
    --bg-color: #111;
    --text-color: #fff;
    --shadow-color: #eee;
    background-color: var(--bg-color);
    --footer-bg: #000;
}
:root {
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
button{
    background-color: var(--bg-color);
    color: var(--text-color);
}